In [4]:
import pandas
data = pandas.read_csv('Titanic.csv', index_col=0)
data.head()

,Name,PClass,Age,Sex,Survived,SexCode
1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

In [18]:
#http://scikit-learn.org/stable/modules/preprocessing.html#encoding-categorical-features
from sklearn import preprocessing
enc1 = preprocessing.OneHotEncoder()
enc2 = preprocessing.LabelEncoder()

In [26]:
data['class_feature'] = enc2.fit_transform(data.PClass)
data.head()

,Name,PClass,Age,Sex,Survived,SexCode,class_feature
1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1,1
2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1,1
3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0,1
4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1,1
5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0,1

In [44]:
from sklearn import svm
clf = svm.SVC()
X = data.loc[:,['SexCode']]
X.head()
result = clf.fit(X,data.Survived)
result

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [45]:
result.score(X,data.Survived)

0.77456207159177459